{% extends 'base.html' %}

{% block title %}Overview Manual{% endblock title %}
{% load static %}
{% block content %}
<h2>OVERVIEW </h2>
This web application allows you perform CRUD (create, read, update and delete) operations for products, </br> warehouses, transactions and product groups.
<p></p>
It also allows you assign products to different warehouses and allows you view the list of products across all </br>  warehouses combined.
<p></p>
<p></p>

<h4> Navigation Links</h4>

<p>On the left side of the screen, a list of dropdown links that direct you to different parts of the web app is shown.</p>
<p>You can click on the "Products" dropdown link to direct you to a list of products or to add a product.</p>
<p>Similarly, you can do the same for Transactions, Warehouses, Groups by clicking on their respective drop down links.</p>
    
 
{% endblock content %}
