{% extends 'base.html' %}

{% block title %}Transactions Manual{% endblock title %}
{% load static %}
{% block content %}

<p></p>
<h3> Transactions Manual </h3>

<p><strong> Adding a Transaction </strong></p>
<p>Once you have added details of a product, you can begin to add transactions for that product.</p>
<p>Adding transactions allows you to assign quantities of a product to various warehouses.</p>
<p>You can add a new transaction by clicking on <strong> "Add a transaction" </strong</p>

<p> <strong> Editing Transaction </strong> </p>

<p>To edit a transaction, Navigate to "Transaction list" click on the transaction, click on edit and update the transaction.</p>

<p><h5> Deleting transactions </h5></p>
<p>To Delete a transaction, Navigate to  "Transaction list", click on the transaction, click on delete and confirm</p>
{% endblock content%}

